#myGraph{
    width: 1500px;
    height: 600px;
    border: 1px solid saddlebrown;
}
#myGraph2{
    width: 600px;
    height: 250px;
    border: 1px solid saddlebrown;
}
#myGraph3{
    width: 600px;
    height: 250px;
    border: 1px solid saddlebrown;
}